# Правило по prefix:
# - MAIN_VITE_* — значения для Electron main process.
# - RENDERER_VITE_* — значения для renderer.
# - VITE_* — стандартные Vite-переменные, доступны renderer-коду через import.meta.env.

# .env файлы = только публичная/техническая конфигурация
# DB path = всё равно через app.getPath('userData')
# имя DB файла = можно брать из MAIN_VITE_DB_NAME
# !Не класть сюда секреты!
# - Потому что env может попасть в build, logs, debug output или renderer bundle.

# MAIN
                                         # LOCAL ENV                  | DEVELOPMENT ENV                         | PRODUCTION ENV
NODE_ENV=local                           # local                      | development                             | production
APP_NAME=Nodex__local                    # Nodex__local               | Nodex__dev                              | Nodex
APP_ID=com.nodex.desktop.local           # com.nodex.desktop.local    | com.nodex.desktop.development           | com.nodex.desktop
MAIN_VITE_APP_NAME=Nodex__local          # Nodex__local               | Nodex__dev                              | Nodex
MAIN_VITE_DB_NAME=nodex.local.sqlite     # nodex.local.sqlite         | nodex.dev.sqlite                        | nodex.sqlite


#  RENDERER
VITE_APP_ENV=local                       # local                      | development                             | production
VITE_APP_NAME=Nodex__local               # Nodex__local               | Nodex__dev                              | Nodex
RENDERER_VITE_APP_NAME=Nodex__local      # Nodex__local               | Nodex__dev                              | Nodex
RENDERER_VITE_APP_ENV=local              # local                      | development                             | production
