NODE_ENV=development

APP_NAME=Nodex_dev
APP_ID=com.nodex.desktop.development

MAIN_VITE_APP_NAME=Nodex_dev
RENDERER_VITE_APP_NAME=Nodex_dev

MAIN_VITE_DB_NAME=nodex.dev.sqlite
RENDERER_VITE_APP_ENV=development

